mixin comment(comment)
    div.comment-object(data-id=`${comment._id}`)
        div.comment-column
            img(src=`${comment.owner.avatarUrl}`)
            div.comment-info
                span.comment-username #{comment.owner.username}
                span.comment-content #{comment.content}
                if loggedIn
                    if String(comment.owner._id)===loggedInUser._id
                        div.comment-delete
                            i.fas.fa-xmark