.container {
  width: 350px;
  display: flex;
  //   overflow: hidden;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  .inner {
    width: 350px;
    img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border: 1px solid red;
    }
  }
}
