.container {
  width: 470px;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  .inner {
    width: 470px;
    img {
      width: 470px;
      height: 470px;
      object-fit: cover;
    }
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  background-color: $white;
  padding: 10px;
  border: 1px solid $grey;
  margin-bottom: 30px;
  border-radius: 10px;
  .post-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      a {
        display: flex;
        align-items: center;
        margin: 8px;
        &:first-child {
          img {
            margin-right: 8px;
            border: 2px solid $white;
            transition: border 0.2s ease-in-out;
            &:hover {
              border: 2px solid $blue;
            }
          }
          span {
            font-size: 15px;
            font-weight: 600;
            color: black;
            transition: color 0.2s ease-in-out;
            &:hover {
              color: $blue;
            }
          }
        }
        &:last-child {
          font-size: 18px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.postImageContainer {
  position: relative;
  .btnLeft,
  .btnRight {
    position: absolute;
    top: 235px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
  .btnLeft {
    left: 0;
    margin-left: 10px;
  }
  .btnRight {
    right: 0;
    margin-right: 10px;
  }
}

#post-owner {
  display: flex;
  margin: 20px 0;
  position: relative;
  span {
    &:first-child {
      font-weight: 600;
      font-size: 15px;
      margin-right: 5px;
    }
  }
}

#details {
  display: flex;
  flex-direction: column;
  summary {
    list-style: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
      font-weight: 600;
      color: $blue;
    }
  }
}

.post-content {
  display: block;
  margin: 10px 0;
}

.post-hashtags {
  color: #1c4877;
}

.createdAt {
  position: absolute;
  right: 0;
  font-weight: 600;
  color: #aeb4b7;
  font-size: 13px;
}

.optionBtn {
  display: flex;
  .fa-pen-to-square {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $blue;
    }
  }
  .fa-trash {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: tomato;
    }
  }
}

.home-post {
  margin-right: 300px;
}
