doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
        title #{pageTitle} | MyBlog
    body 
        div.status-bar
            a(href="/")
                button Home
            if !loggedIn
                a(href="/login")
                    button Login
                a(href="/join")
                    button Join
            if loggedIn
                a(href=`/user/${loggedInUser._id}`)
                    button Profile
                a(href="/user/edit")
                    button Edit user
                a(href="/user/logout")
                    button Logout
            //- a(href="/usage")
            //-     button ETC
        block content
    include partials/footer