doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        title #{pageTitle} | MyBlog
    body 
        header.status-bar
            a(href="/")
                button Home
            a(href="/search")
                button Search
            if !loggedIn
                a(href="/login")
                    button Login
                a(href="/join")
                    button Join
            if loggedIn
                a(href="/post/write")
                    button Write Post
                a(href=`/user/${loggedInUser._id}`)
                    button Profile
                a(href=`/user/${loggedInUser._id}/edit`)
                    button Edit user
                a(href="/user/logout")
                    button Logout
            //- a(href="/usage")
            //-     button ETC
        main
            block content
    include partials/footer
    script(src="assets/js/main.js") 