extends base

block content 
    form(method="post").post-write-edit
        span.main-logo Change password
        input(type="password" name="old_password" required placeholder="Old password")
        input(type="password" name="new_password" required placeholder="New password")
        input(type="submit" value="Submit")