extends base

block content
    form.search
        input(type="text" name="search" placeholder="Search on this blog...")
        input(type="submit" value="Search")
    div.post-category
    div.post-count
    div.post-main
    div.post-relatedCategoryPosts
    div.etc
        div.profile