doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/static/css/styles.css")
        title #{pageTitle} | Dostagram
    body.loginBody
        main.main-content
            div.loginPage
                div.loginPage-column
                    span.main-logo Login
                    if errorMessage 
                        span#login-error #{errorMessage}
                    form.login(method="POST")
                        input(name="username" placeholder="Username" type="text" required)
                        input(name="password" placeholder="Password" type="password" required)
                        input(type="submit" value="Submit").submitLogin
                    div.social-login
                        div.login-github
                            a(href="/user/github/start")
                                i.fab.fa-github
                                span Continue with Github &rarr;
                        div.login-kakao
                            a(href="/user/kakao/start")
                                i.fab.fa-kickstarter
                                span Continue with Kakao &rarr;
                        div.login-naver
                            a(href="/user/naver/start")
                                i.fas.fa-n
                                span Continue with Naver &rarr;
                div.loginPage-column
                    span Don't have an account? 
                    a(href="/join") Join