extends base

block content
    if errorMessage 
        span #{errorMessage}
    span Write username to make account.
    form.inputDataForKakao(method="POST")
        input(name="name" placeholder="Name" type="text" required value=userData.profile.nickname)
        input(name="username" placeholder="Username" type="text" required)
        input(name="email" placeholder="Email" type="email" required value=userData.email)
        input(type="submit" value="Submit")