extends base

block content 
    form(method="post").post-write-edit
        span.main-logo Post Edit
        input(type="text" name="title" required placeholder="Title" value=post.content)
        input(type="text" name="content" required placeholder="Content" value=post.content)
        input(type="text" name="hashtags" required placeholder="Hashtags" value=post.hashtags.join())
        input(type="submit" value="Submit")