extends base
include mixins/post-object

block content
    form.search(method="POST")
        i.fas.fa-magnifying-glass
        input(type="text" name="searchKeyword" placeholder="Search content...").searchBox
        input(type="submit" value="Search").searchBtn
    if posts
        each post in posts 
            +post(post)
        else 
            span Sorry nothing found.

block script 
    script(src="../static/js/postMovement.js")