extends base

block content 
    form(method="post" enctype="multipart/form-data").post-write-edit
        span.main-logo Video Upload
        div
            input(type="text" placeholder="Select Video!" disabled).filename
            label(for="videoFile").fileSelectBtn
                i.fas.fa-link
            input(type="file" id="videoFile" required name="video" accept="video/*").hiddenBtn
        input(type="text" name="title" required placeholder="Title")
        input(type="text" name="content" required placeholder="Content")
        input(type="submit" value="Submit")
block script 
    script(src="../static/js/fileUpload.js") 