extends base

block content 
    form(method="post" enctype="multipart/form-data")
        span Video Upload
        div
            input(type="text" placeholder="Select Video!")
            label(for="imageFile")
                i.fas.fa-link
            input(type="file" id="videoFile" required name="video" accept="video/*")
        input(type="text" name="title" required placeholder="Title")
        input(type="text" name="content" required placeholder="Content")
        input(type="submit" value="Submit")