extends base

block content
    div.video
        div.video-watch
            video(src=`/${video.videoUrl}`)
        div.comment
            div.comment-object
                div.comment-column
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFlqa7Kso7R6Tvu9hPCHUqgTSOWhu6C_pdnw&usqp=CAU")
                    div.comment-info
                        span.comment-username Dobby
                        span.comment-content This video is nice
                div.comment-column
                    i.fas.fa-xmark
            div.comment-object
                div.comment-column
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFlqa7Kso7R6Tvu9hPCHUqgTSOWhu6C_pdnw&usqp=CAU")
                    div.comment-info
                        span.comment-username Dobby
                        span.comment-content This video is nice
                div.comment-column
                    i.fas.fa-xmark
            div.comment-object
                div.comment-column
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFlqa7Kso7R6Tvu9hPCHUqgTSOWhu6C_pdnw&usqp=CAU")
                    div.comment-info
                        span.comment-username Dobby
                        span.comment-content This video is nice
                div.comment-column
                    i.fas.fa-xmark
            div.comment-input
                input(type="text" name="comment")
                input(type="submit")